body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: "Ubuntu", sans-serif;
}


/* Profile pic  */
#userPhoto {
  width: 100px;
  height: 100px;
  display: block;
  margin: 35px auto 20px;
  border-radius: 50%;
}
/* username styles*/
#userName {
  color: #a7a6ba;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

/* Paragraph under username */
#para {
  color: #a7a6ba;
  text-align: center;
  display: block;
}

#links {
  max-width: 675px;
  width: auto;
  display: block;
  margin: 27px auto;
}

.link {
  display: block;
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding: 17px;
  text-decoration: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.5s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border: none;
  border-radius: 53px;
}

.link:hover {
  background-color: #fff;
  color: #000;
  border: solid #ee82ee 4px;
}

.footer {
  text-align: center;
  font-size: 1.3rem;
}

.footer a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}
