<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rohan Salunkhe's personal website, which includes links to my social media accounts as well as links to my most recent projects, blogs, and posts on GitHub, dev.to, and hashnode."/>
    <meta http-equiv="content-language" content="en-us" />
    <meta property="og:description" content="A open source linktr.ee alternative created by rohan salunkhe known as amrohan"/>
    <meta property="og:url" content="https://amrohan.ml" />
    <title>Rohan Salunkhe - amrohan | perosnal portfolio website</title>

    <!-- Favicon Icons -->
     <!-- favicon -->
     <link rel="icon" href="favicon/favicon.ico" type="image/x-icon" />
     <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png/>
     <link
       rel="icon"
       type="image/png"
       sizes="32x32"
       href="favicon/favicon-32x32.png"
     />
     <link
       rel="icon"
       type="image/png"
       sizes="16x16"
       href="favicon/favicon-16x16.png"
     />
     <link rel="manifest" href="favicon/site.webmanifest" />
    <!-- Style Sheet -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- FontAwesome CDN ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-[conic-gradient(at_top_right,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black h-screen">
    <div class="break-normal px-6 text-white grid items-center place-items-center pt-6 sm-pt-2 font-ubuntu">
    <img class="rounded-full mt-4 w-24 h-24 mb-3" src="https://avatars.githubusercontent.com/u/73811790?s=400&u=7b81fb28f1d47be6c0230fec7f10b75a04a1f100&v=4" alt="rohan salunkhe profile pic">
        <h1 class="text-base font-medium ">Rohan Salunkhe</h1>
        <p class="mb-5 max-w-screen-md items-center text-neutral-400 font-semibold text-center text-sm px-6">A friend from planet Earth
        </p>
        <h3 class="p-5 text-lg uppercase font-medium mt-4">Projects</h3>
        <a class="rounded-xl p-7 max-w-screen-md flex flex-col w-full sm:w-5/12 h-10 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 to-gray-600 bg-gradient-to-r justify-center items-center mb-3" href="https://github.com/amrohan/tldr-tech-scraper">Node js Scraper + Notion Sync</a>
        <a class="rounded-xl p-7 max-w-screen-md flex flex-col w-full sm:w-5/12 h-10 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 to-gray-600 bg-gradient-to-r justify-center items-center mb-3" href="https://github.com/amrohan/nextjs-auth0">Auth 0 + NextJs</a>
        <a class="rounded-xl p-7 max-w-screen-md flex flex-col w-full sm:w-5/12 h-10 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 to-gray-600 bg-gradient-to-r justify-center items-center mb-3" href="https://chathub.gq/">Chat-Hub</a>
        <a class="rounded-xl p-7 max-w-screen-md flex flex-col w-full sm:w-5/12 h-10 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-900 to-gray-600 bg-gradient-to-r justify-center items-center mb-3" href="https://github.com/amrohan/DevNews-Frontend">DevNews WebApp</a>
       
    
        <div class="inline-flex w-56 justify-evenly mt-4 text-xl duration-1000 ">
            <!-- Instagram -->
            <a href="https://www.instagram.com/amrohann" target="_blank">
              <span class="text-2xl"><i class="fa-brands fa-instagram"></i></span>
            </a>
      
            <!-- Telegram -->
            <a href="https://t.me/amrohan" target="_blank">
              <span class="text-2xl"><i class="fa-solid fa-paper-plane"></i></span>
            </a>
      
            <!-- Twitter -->
            <a href="https://twitter.com/rohansalunkhe_" target="_blank">
              <span class="text-2xl"><i class="fab fa-twitter"></i></span>
            </a>
      
            <!-- Gmail -->
            <a href="mailto: amrohan@duck.com">
              <span class="text-2xl"><i class="fas fa-envelope"></i></span>
            </a>
      
            <!-- Github -->
            <a href="https://github.com/amrohan" target="_blank">
              <span class="text-2xl"><i class="fab fa-github"></i></span>
            </a>
          </div>
</body>
</html